**Pandas** is a popular Python package for data science, and with good reason: it offers powerful, expressive and flexible data structures that make data manipulation and analysis easy, among many other things. 

# Leaning Objectives

### In this module, we will cover:

* How to create a Pandas DataFrame in a file format (.csv, .txt, .tsv, etc.)
* Use pandas functions to select, add, delete an Index or Column from / to a DataFrame 
* How to do the various queries from DataFrame
* Lastly, how various SQL operations would be performed using Pandas

### Read the data files into DataFrame

  --  **pandas.read_csv()**

Thankfully, Pandas has built-in support for delimited files such as CSV files as well as a variety of other data formats including relational databases, Excel, and HTML tables

Download the relevant CSV data from:
                                             https://s3.amazonaws.com/amazon-reviews-pds/tsv/index.txt
                                             
**Amazon's sample public dataset.**

In [ ]:
# Command to import the pandas library to your notebook
import pandas as pd

# Read data from Amazon's sample public dataset.
df = pd.read_csv("Datasets/sample_us.tsv", sep='\t', header=0)
df.head(2)

#### Note: 
 --  **pandas.head()**

The head function is really helpful in just previewing what the dataframe looks like after you have loaded it up. The default is to show the first 5 rows, but you can adjust that by typing ```.head(10)```

 --  **pandas.describe()**

The describe function is really useful to see the distribution of your data, particularly numerical fields like ints and floats. As you can see below, it returns a dataframe with the mean, min, max, standard deviation, etc for each column.

In [ ]:
df.describe()

### Code: Querying a Series

* To query by numerical location, stating at zero, use the **iloc** attribute
* To query by the index label, you can use the **loc** attribute.

In [ ]:
df.iloc[2]

In [ ]:
df.loc[2]

Enough for now about selecting values from your DataFrame. What about selecting rows and columns? In that case, you would use:

* To select rows and cloumns, use the **loc** attribute

In [ ]:
df.loc[:, ['marketplace', 'product_id']].head()

In [ ]:
df['marketplace'].head(3)

You may either access the values by calling by their label or by their position in the index or column.

```.loc[3]['marketplace']```  is equivalent to  ```.loc[3, 'marketplace']```

In [ ]:
df.loc[3, 'marketplace']

### Code: Sort Pandas Dataframe

* To sort Pandas DataFrame based on the values of a column or multiple columns, use the **.sort_values()** method.
* To sort the values in ascending or descending orders, use the argument **ascending=False**.

In [ ]:
sort_by_rating = df.sort_values('star_rating')
sort_by_rating.head(3)

In [ ]:
sort_by_votes = df.sort_values('total_votes', ascending = False)
sort_by_votes.head(3)

To sort Pandas DataFrame based on the values of **multiple columns**:

In [ ]:
sort_by_rating_votes = df.sort_values(['star_rating', 'total_votes'], ascending = False)
sort_by_rating_votes.head(3)

### Code: Querying with Conditions

* To query the values **WHERE** certain conditions are met, via *boolean indexing*.

**Comparison with SQL**

```
   SELECT *
   FROM Table_1
   WHERE star_rating = 4
   LIMIT 5;
```

The following statement is simply passing a Series of True/False objects to the DataFrame, returning all rows with True.

```
   df[df['star_rating'] == 4].head(5)
```

In [ ]:
df[df['star_rating'] == 4].head(5)

# Similarly, you may use df.loc[df['star_rating'] == 4].head(5)

### **Multiple** conditions:

Just like SQL’s OR and AND, multiple conditions can be passed to a DataFrame using | (OR) and & (AND).

**Comparison with SQL**

```
   SELECT *
   FROM Table_1
   WHERE star_rating = 5 AND total_votes > 3
   LIMIT 5;
```

The following statement is simply passing a Series of True/False objects to the DataFrame, returning all rows with True.

```
   df[(df['star_rating'] == 5) & (df['total_votes'] > 3)].head(4)
```

In [ ]:
df[(df['star_rating'] == 5) & (df['total_votes'] >= 3)].head(5)

**Comparison with SQL**

```
   SELECT *
   FROM Table_1
   WHERE star_rating > 3 or total_votes > 3
   LIMIT 5;
```

The following statement is simply passing a Series of True/False objects to the DataFrame, returning all rows with True.

```
   df[(df['star_rating'] > 3) | (df['total_votes'] > 3)].head(4)
```

In [ ]:
df[(df['star_rating'] > 3) | (df['total_votes'] > 3)].head(2)

NULL checking is done using the ```.notna()``` and ```.isna()``` methods.

**For example**
```
    df[df['star_rating'].isna()]```

### Code: GROUP BY conditions

In pandas, SQL’s ```GROUP BY``` operations are performed using the similarly named ```.groupby()``` method. ```.groupby()``` typically refers to a process where we’d like to split a dataset into groups, apply some function (typically **aggregation**) , and then combine the groups together.

A common SQL operation would be getting the count of records in each group throughout a dataset. For instance, a query getting us the number of tips left by sex:


**Comparison with SQL**

```
   SELECT star_rating, count(*)
   FROM Table_1
   GROUP BY star_rating;
```

The equivalent pandas statement would be:

```
   df.groupby('star_rating').size()
```

In [ ]:
df.groupby('star_rating').size()

Notice that in the pandas code we used ```.size()``` and not ```.count()```. This is because ```count()``` applies the function to each column, returning the number of not null records within each.

```
  df.groupby('star_rating').count()
```

In [ ]:
df.groupby('star_rating').count()

### Code: Aggregate functions

Multiple functions can also be applied at once. For instance, say we’d like to see how tip amount differs by day of the week - ```.agg()``` allows you to pass a dictionary to your grouped DataFrame, indicating which functions to apply to specific columns.

Aggregating functions are the ones that reduce the dimension of the returned objects. Some common aggregating functions are tabulated below:

Function | Description
------------- | -------------
mean() | Compute mean of groups
sum() |	Compute sum of group values
size() | Compute group sizes
count()	| Compute count of group
std()	| Standard deviation of groups
var()	| Compute variance of groups
sem()	| Standard error of the mean of groups
describe()	| Generates descriptive statistics
first()	| Compute first of group values
last()	| Compute last of group values
nth()	| Take nth value, or a subset if n is a list
min()	| Compute min of group values
max()	| Compute max of group values

**Comparison with SQL**

```
   SELECT star_rating, AVG(total_votes),count(*)
   FROM Table_1
   GROUP BY star_rating;
```

The equivalent pandas statement would be:

```
   df.groupby('star_rating').agg({'total_votes': np.mean, 'star_rating': np.size})
```

In [ ]:
df['star_rating'].min()

In [ ]:
df['star_rating'].max()

In [ ]:
import numpy as np 

df.groupby('star_rating').agg({'total_votes': [np.mean, np.size], 'star_rating': np.size})

### Code: Adding new column to existing DataFrame

Let’s discuss how to add new columns to existing DataFrame in Pandas. There are multiple ways we can do this task.

**Method #1:** By declaring a new list as a column.

```
   import numpy as np
   npRandNumbers = np.random.rand(len(df))
   default_val = 3.33
   
   df['rand_number'] = npRandNumbers
   df['default_value'] = default_val
```

In [ ]:
import numpy as np
npRandNumbers = np.random.rand(len(df))
default_val = 3.33
   
df['rand_number'] = npRandNumbers
df['default_value'] = default_val
df.head(1)


**Method #2:** Adding a calculated field.

```
   df['calculated_value'] = df['total_votes'] / df['star_rating']
```
OR use the **lambda** function via ```.assign()```
```
   df = df.assign(percentage_help_votes = lambda x: (x['helpful_votes']/x['star_rating'])*100)
```
OR use the ```.transform()``` methods
```
   df['avg_total_votes'] = df.groupby('star_rating')['total_votes'].transform('mean')
   # may try 'sum', 'zscore'
```

In [ ]:
df['calculated_value'] = df['total_votes'] / df['star_rating']
df.head(1)

In [ ]:
df = df.assign(percentage_help_votes = lambda x: (x['helpful_votes']/x['star_rating'])*100)
df.head(1)

In [ ]:
df['sum_total_votes'] = df.groupby('star_rating')['total_votes'].transform('sum')
df.head(2)

**Method #3:** Adding columns via ```.concat()```.

```   
   df_company = pd.DataFrame(['Amazon'] * len(df), columns = ['company'])
   pd.concat([df, df_company], axis = 1)
```
Combine DataFrame objects horizontally along the ```x``` axis by passing in ```axis=1```.

In [ ]:
df_company = pd.DataFrame(['Amazon'] * len(df), columns = ['company'])
pd.concat([df, df_company], axis = 1).head(2)

### Code: Append rows to existing DataFrame

Iteratively appending rows to a DataFrame can be more computationally intensive than a single concatenate. A better solution is to append those rows to a list and then concatenate the list with the original DataFrame all at once.

* To append another DataFrame to an existing DataFrame, via ```.append()```.

In [ ]:
df2 = df
df2['product_category'] = 'Furniture'

df = df.append(df2, ignore_index = True)
len(df)

### Code: Drop column(s) from an existing DataFrame

This function takes a single parameter, which is the index or roll label, to drop.

* In fact, the **drop()** doesn't change the DataFrame by default
* And instead, returns to you a copy of the DataFrame with the given rows removed.

In [ ]:
df.drop('rand_number', axis=1).head(2)

## JOIN -- Table Merge

For those with experience doing joins in relational databases like SQL, here’s some good news: pandas has options for high performance in-memory merging and joining. When we need to combine very large DataFrames, joins serve as a powerful way to perform these operations swiftly.

A couple important things to keep in mind: joins can only be done on two DataFrames at a time, denoted as left and right tables. The key is the common column that the two DataFrames will be joined on. It’s a good practice to use keys which have unique values throughout the column to avoid unintended duplication of row values.

Load the relevant CSV data from:
```
    Fixed_deposit.csv & Loan.csv
```
                                             
**sample customer bank dataset.**

In [ ]:
# Command to import the pandas library to your notebook
import pandas as pd

# Read data from Fixed_deposit.csv dataset.
df_fixed_deposit = pd.read_csv("Datasets/Fixed_deposit.csv", sep=',', header=0)
df_fixed_deposit.head()

In [ ]:
# Read data from Fixed_deposit.csv dataset.
df_loan = pd.read_csv("Datasets/Loan.csv", sep=',', header=0)
df_loan.head()

An **inner join** is the simplest join, this will only retain rows in which both tables share a key value.

<img src="Datasets/inner_join.png" alt="Drawing" style="width: 250px;"/>

### Code: Inner Join

* To do a inner join for two DataFrames, via ```.merge()```.

In [ ]:
df_customer_bank_InnerJoin = pd.merge(df_fixed_deposit, df_loan, left_on = 'Customer ID', right_on = 'Customer ID', how = 'inner')
df_customer_bank_InnerJoin.head()

An **left join** keeps all rows that occur in the primary (left) table, and the right table will only concatenate on rows where it shares a key value with the left. ```NaN``` values will be filled in for cells where the there’s no matching key value.

<img src="Datasets/left_join.png" alt="Drawing" style="width: 250px;"/>

### Code: Left Join

* To do a left join for two DataFrames, via ```.merge()```.

In [ ]:
df_customer_bank_LeftJoin = pd.merge(df_fixed_deposit, df_loan, left_on = 'Customer ID', right_on = 'Customer ID', how = 'left')
df_customer_bank_LeftJoin.head()

An **right join** is the same concept as a left join, but keeps all rows occurring in the right table. The resulting DataFrame will have any potential ```NaN``` values on the left side.

<img src="Datasets/right_join.png" alt="Drawing" style="width: 250px;"/>

### Code: Right Join

* To do a right join for two DataFrames, via ```.merge()```.

In [ ]:
df_customer_bank_RightJoin = pd.merge(df_fixed_deposit, df_loan, left_on = 'Customer ID', right_on = 'Customer ID', how = 'right')
df_customer_bank_RightJoin.head()

An **full outer join** retains all rows occuring in both tables and NaN values can show up on either side of your resulting DataFrame.

<img src="Datasets/full_outer_join.png" alt="Drawing" style="width: 250px;"/>

### Code: Full Outer Join

* To do a full outer join for two DataFrames, via ```.merge()```.

In [ ]:
df_customer_bank_FullJoin = pd.merge(df_fixed_deposit, df_loan, left_on = 'Customer ID', right_on = 'Customer ID', how = 'outer')
df_customer_bank_FullJoin.head()

### Referrences

Boolean masks are created by applying operators directly to the pandas series or DataFrame objects.

<img src="Datasets/DataFrame_with_BooleanMask.JPG" width="750">